@primary-background-color: #6d1f24;   
@primary-text-color: #ffffff;
@primary-separator-color: #4b2e2b;   


@content-primary-background: #f8f5f2;
@content-primary-text: #333;
@light-brown: #8b5e3c;


@white: #ffffff;
@border-color: #ddd;
@font-main: Arial, sans-serif;